@page
@model UniversityPageSergio.Pages.Student.EditStudentModel
@{
    ViewData["Title"] = "EditStudent";
}

<div class="container">
    <div class="row">
        <div class="col-md-7 offset-3">
            <h3>Edit Student</h3>
            <form method="post">
                <input asp-for="Student.StudentId" type="hidden" />
                <div class="form-group">
                    <label asp-for="Student.StudentName">Name</label>
                    <input asp-for="Student.StudentName" class="form-control" />
                </div>
                <br />
                <div class="form-group text-center">
                    <a asp-page="AllStudent" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>